{% extends "auth_base.html" %} {% block content %}
<script></script>

<h1>Homepage</h1>
<div class="row mb-3">
  <div class="col-3">
    <div class="card h-100 text-center">
      <div class="card-body">
        <h5>Money saved</h5>
        <p>3452 DKK</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card h-100 text-center">
      <div class="card-body">
        <h5>CO<sub>2</sub> saved</h5>
        <p>230g CO<sub>2</sub>e</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card h-100 text-center">
      <div class="card-body">
        <h5>Carbon footprint</h5>
        <p>1.23kg CO<sub>2</sub>e</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card h-100 text-center">
      <div class="card-body">
        <h5>
          <a href="/devices">Devices</a>
        </h5>
        <p>12</p>
      </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <p class="m-0">CO<sub>2</sub> Emission</p>
                    <!-- Time stamp -->
                    <small class="m-0" id="lastUpdate"></small>
                </div>
                <!-- Refresh Button -->
                <button class="btn btn-secondary" id="refresh">
                    <i class="bi bi-arrow-repeat"></i>
                </button>
            </div>

            <canvas id="myChart"></canvas>
            Data from https://www.energidataservice.dk/tso-electricity/co2emis
        </div>
    </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <p class="my-0 ms-0 me-2">Green energy Production</p>
          <!-- Time stamp -->
          <small class="m-0" id="lastUpdate"></small>
        </div>
        <!-- Refresh Button -->
        <button class="btn btn-secondary" id="refresh">
          <i class="bi bi-arrow-repeat"></i>
        </button>
      </div>

      <canvas id="greenEnergy"></canvas>
    </div>
  </div>
</div>

<script>
    async function energiDataEMI() {
        try {
            const DAYSAMOUNT = 30; //change in URI if this is changed.
            const URI =
                'https://www.energidataservice.dk/proxy/api/datastore_search_sql?sql=SELECT"Minutes5UTC", "Minutes5DK", "PriceArea", "CO2Emission" FROM "co2emis" ORDER BY "Minutes5UTC" DESC LIMIT 17280'; //every second is a correct datapoint, we need for a month of datapoints which is 17280 ((60*24*DAYS*2)/5)
            let data = await fetch(URI).then((response) => response.json());

            // Arrays for labels and values
            let dataLabels = [];
            let dataValues = [];
            let dataValuesMonth = [];
            let daysMonth = 30;
            let dataValuesWeek = [];
            let daysWeek = 7;
            let dataValuesDays = [];
            let daysDays = 3;
            let dataTestAccuracy = [];
            //datapoints on 1 day
            let dataDay = (60 * 24) / 5;


            // Iterate over reponse results
            console.log("Total CO2 Rows:" + data.result.records.length);

            for (let i = 0; i < data.result.records.length; i++) {
                // Push labels and values
                if (data.result.records[i].PriceArea == "DK1") {
                    dataValues.push(data.result.records[i].CO2Emission);
                    dataLabels.push(data.result.records[i].Minutes5DK.slice(-8,-3)); //splicing to remove the date but not the time.
                }
            }
            // Reverse Arrays
            dataLabels = dataLabels.reverse();
            dataValues = dataValues.reverse();

            //Function that creates a moving average dataset depended on amount of days.
            function createData(days, newDataValues) {
                //total data points
                let dataTotal = days * dataDay;
                for (let j = 0; j < dataDay; j++) {
                    newDataValues[j] = 0;
                    for (let i = j; i < dataTotal; i += dataDay) {
                        //compounds the values
                        newDataValues[j] += dataValues[i + (dataDay * DAYSAMOUNT - dataTotal)];
                    }
                    //finds average for that time
                    newDataValues[j] = (newDataValues[j] / days);
                }
            }
            console.log("datavalues initialization done");
            createData(daysMonth, dataValuesMonth);
            console.log("datavaluemonth done");
            createData(daysWeek, dataValuesWeek);
            console.log("datavalueweek done");
            createData(daysDays, dataValuesDays);
            console.log("datavalueyear done");
            createData(1, dataTestAccuracy);
            console.log("DataValues length" + dataValues.length + "\n");
            console.log("DataValuesMonth length" + dataValuesMonth.length + "\n");
            console.log("DataLabels length" + dataLabels.length + "\n");

            var ctx = document.getElementById("myChart").getContext("2d");
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: "line",
                data: {
                    labels: dataLabels.slice(dataLabels.length - 288, dataLabels.length),
                    datasets: [
                        {
                            label: "CO2 Emission last 24 hours (5min) (g/kWh)",
                            borderColor: "rgb(0, 255, 0)",
                            data: dataValues.slice(dataValues.length - 288, dataValues.length),
                            //steppedLine: "true",
                        },
                        {
                            label: "CO2 Emission " + daysDays + " days running average (5min) (g/kWh)",
                            borderColor: "rgb(255, 255, 0)",
                            data: dataValuesDays.slice(0, 288),
                            hidden: true,
                            //steppedLine: "true",
                        },
                        {
                            label: "CO2 Emission " + daysWeek + " days running average (5min) (g/kWh)",
                            borderColor: "rgb(255, 153, 0)",
                            data: dataValuesWeek.slice(0, 288),
                            hidden: true,
                            //steppedLine: "true",
                        },
                        {
                            label: "CO2 Emission " + daysMonth + " days running average (5min) (g/kWh)",
                            borderColor: "rgb(255, 0, 0)",
                            data: dataValuesMonth.slice(0, 288),
                            //steppedLine: "true",
                        },
                        // {
                        //     label: "CO2 Emission " + "test" + " days running average (5min) (g/kWh)",
                        //     borderColor: "rgb(0, 255, 150)",
                        //     data: dataTestAccuracy.slice(0, 288),
                        //     //steppedLine: "true",
                        // },
                    ],
                },
                // Configuration options go here
                options: {},
            });

            // return labels and values as object
            //   return {
            //     dataValues,
            //     dataLabels,
            //   };
        } catch {
            console.log("Forhelvede....");
        }
    }

    // Test funktion indtil videre
    // til at displaye sidste update
    const setLastUpdate = () => {
        let date = new Date();
        let dateString = `${date.getDate()}/${date.getMonth()}-${date.getFullYear()}`;
        let hours = date.getHours < 10 ? "0" + date.getHours() : date.getHours();
        let mins =
            date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        let secs =
            date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

        let timeString = `${dateString} ${hours}:${mins}:${secs}`;
        document.getElementById("lastUpdate").innerText = timeString;
    };

    // Fetch data after page contnet has loaded
    window.addEventListener("load", function () {
        energiDataEMI();
        setLastUpdate();
    });

    // onClick eventlistner for refresh button
    document.getElementById("refresh").addEventListener("click", () => {
        energiDataEMI();
        setLastUpdate();
    });
</script>

{% endblock %}